<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="weekendapps, {% block meta_keywords %}{% endblock %}" />
        <meta name="description" content="weekend.daaku.org - {% block meta_description %}{% endblock %}" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}Welcome{% endblock %} — weekend.daaku.org</title>
        <!-- <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.0.0pr2/build/cssfonts/fonts-min.css&amp;3.0.0pr2/build/cssreset/reset-min.css&amp;3.0.0pr2/build/cssgrids/grids-min.css&amp;3.0.0pr2/build/cssbase/base-min.css" /> -->
        <link rel="stylesheet" type="text/css" href="/media/common/css/base.css" />
        {% block head %}{% endblock %}
    </head>

    <body class="{% block body_class %}weekend-base{% endblock %}">
			<div id="foods">
        {% block content %}Dummy Content{% endblock %}
			</div>
    </body>
</html>
