# coding: utf-8

YAHOO_OAUTH = {
    'name': 'yahoo',
    'realm': 'yahooapis.com',
    'request_token_url': 'https://api.login.yahoo.com/oauth/v2/get_request_token',
    'authorization_url': 'https://api.login.yahoo.com/oauth/v2/request_auth',
    'access_token_url': 'https://api.login.yahoo.com/oauth/v2/get_token',
    'consumer_key': 'FIXME',
    'consumer_secret': 'FIXME',
}
FIREEAGLE_OAUTH = {
    'name': 'fireeagle',
    'request_token_url': 'https://fireeagle.yahooapis.com/oauth/request_token',
    'authorization_url': 'https://fireeagle.yahoo.net/oauth/authorize',
    'access_token_url': 'https://fireeagle.yahooapis.com/oauth/access_token',
    'consumer_key': 'FIXME',
    'consumer_secret': 'FIXME',
}
YELP_KEY = 'FIXME'
BOORAH_API_KEY = 'FIXME'
