{% extends "base.html" %}
{% block content %}

<div class="center">
	<a href="/fireeagle-location/"><img src="http://fireeagle.yahoo.net/images/badge/fe_withyahoo_big.png" alt="Use fireeagle to get your location" /></a>

	<hr />

	<form action="/location/" method="GET">
		<fieldset>
			<legend>Otherwise, enter your location:</legend>
			<input name="address" title="For example: 94105 or 1600 Amphitheater, Mountain View, CA" />
			<input name="submit" type="submit" value="go" />
		</fieldset>
	</form>
</div>
{% endblock %}
