<style>
#items{
	width:500px;
}
#items .name{
	float:left;
	display:block;
}
#items .totals{
	float:right;
}
#items .reviews{
	display:none;
}
#items .reviewer{
	float:left;
}
#items div.vote,
#items .buttons{
	float:right;
}
#items .selected{
	color:red;
}
</style>
<div id="items">
{% for item in menu %}
	<div class="item">
		<a class="name" href="#reviews_{{ item.iid }}">{{ item.name }}&nbsp;(${{ item.price }})</a><div class="totals">{{ item.reviews.total.up }}|{{ item.reviews.total.dn }}</div>
		<div style="clear:both"></div>
		<div class="reviews" id="reviews_{{ item.iid }}">
			<div class="review">
				<div class="reviewer"><img src="{{ review.img }}"/>you</div>
					<div class="buttons">
						{% if item.reviews.yours %}
							{% ifequal 1 item.reviews.yours %}
								<a class="vote selected" href="/vote/?iid={{ item.iid }}&value=1">+1</a>|<a class="vote" href="/vote/?iid={{ item.iid }}&value=0">-1</a>
							{% else %}
								<a class="vote" href="/vote/?iid={{ item.iid }}&value=1">+1</a>|<a class="vote" href="/vote/?iid={{ item.iid }}&value=0">-1</a>
							{% endifequal %}
						{% else %}
							<a class="vote" href="/vote/?iid={{ item.iid }}&value=1">+1</a>|<a class="vote" href="/vote/?iid={{ item.iid }}&value=0">-1</a>
						{% endif %}
					</div>
				<div style="clear:both"></div>
			</div>
			{% for review in item.reviews.by_name %}
			<div class="review">
				<div class="reviewer"><img src="{{ review.img }}"/>{{ review.name }}</div>
				<div class="vote">{{ review.vote }}</div>
				<div style="clear:both"></div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endfor %}
</div>
<script>
var items = document.getElementById('items'),
	hasClass = function(node, className){
		return new RegExp('[\b]*' + className + '[\b]*').test(node.className);
	},
	handleClick=function(e){
		var reviews,
			href,
			req;
		if(hasClass(e.target.parentNode, 'item') || hasClass(e.target, 'item')){
			e.preventDefault();
			href = e.target.href;
			reviews = document.getElementById(href.substr(href.indexOf('#') + 1));//get el by anchor tag text
			reviews.style.display = ('block' === reviews.style.display) ? 'none' : 'block';
		}else if(hasClass(e.target, 'vote')){
			e.preventDefault();
			href = e.target.href;
			req = false;
		    if(window.XMLHttpRequest) {
		    	try {
					req = new XMLHttpRequest();
		        } catch(e) {
					req = false;
		        }
		    }
			if(req) {
				req.onreadystatechange = null;
				req.open("GET", href, true);
				req.send("");
			}
		}
	}; 
items.onclick=handleClick;
</script>