{% extends "base.html" %}
{% block content %}
<ul id="places">
{% for place in places %}
    <li>
        <a href="/menu/?lat={{ place.Address.Latitude }}&lon={{ place.Address.Longitude }}&restaurant={{ place.RestaurantName }}" class="place">
            <span class="name">{{ place.RestaurantName }}</span>
            <span class="phone">({{ place.Address.Phone }})</span>
            <span class="addr">{{ place.Address.Street1 }}, {{ place.Address.City }}, {{ place.Address.State }}</span>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}
